<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<div class="body">
<h1>Light A LED</h1>
  <form class="weWorkForm" [formGroup]="myForm">
    <mat-form-field class="formInput">
      <input matInput placeholder="Red" formControlName="red">
    </mat-form-field>
  
    <mat-form-field class="formInput">
      <input matInput placeholder="Green" formControlName="green">
    </mat-form-field>
  
    <mat-form-field class="formInput">
      <input matInput placeholder="Blue" formControlName="blue">
    </mat-form-field>
  
    <mat-form-field class="formInput">
      <input matInput placeholder="X" formControlName="x">
    </mat-form-field>
  
    <mat-form-field class="formInput">
      <input matInput placeholder="Y" formControlName="y">
    </mat-form-field>
  
    <button mat-raised-button color="primary" (click)="pushLight()">Create Light</button>
  
  </form>

</div>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->



